img {
  margin-top: 7px;
  margin-left: 200px;
  width: 50px;
  height: 50px;
}
.Header {
  height: 10vh;
  background-image: linear-gradient(
    90deg,
    #020024 0%,
    #090979 35%,
    #00d4ff 100%
  );
  display: flex;
}
.Links {
  display: flex;
  justify-content: right;
  margin-left: 650px;
}
.lnk {
  margin: 20px;
  text-decoration: none;
  color: aliceblue;
}
.lnk:hover {
  color: orange;
}
