body {
  background-image: linear-gradient(to right, #993300, #003366);
}
.main {
  margin: 5% 33%;
  border-radius: 10px;
  text-align: center;
}

button {
  width: 150px;
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
}
button:hover {
  background-color: green;
}

#q {
  background: #ff6f01;
  border: 2px solid black;
  border-radius: 10px;
  font-size: large;
  padding: 10px;
}

#msg {
  margin-left: 23%;
  text-align: left;
}
#result {
  font-size: 40px;
}
input {
  height: 20px;
  width: 200px;
  text-align: center;
}
